:root {
    --bg-colors: #2d2c2c;
    --text-colors: #d1d1d0;
    --mid-colors: #888886;
}

body {
    margin: 0;
    font-family: 'Fira Code', monospace;
    background: var(--bg-colors);
    color: var(--text-colors);
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

h1 {
    color: var(--text-colors);
    text-align: center;
    margin-bottom: 30px;
}

input[type="file"] {
    margin: 15px 0;
    color: var(--text-colors);
}

#home-upload {
    width: 400px;
    height: 150px;
    border: 1px solid var(--mid-colors);
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
}

button {
    background-color: #3a3838;
    color: var(--text-colors);
    border: 1px solid var(--mid-colors);
    border-radius: 6px;
    padding: 8px 16px;
    margin: 10px;
    cursor: pointer;
    font-family: 'Fira Code', monospace;
}

button:hover {
    background-color: #4a4848;
}

 /* Monaco Editor */
#monaco-editor {
    width: 100%;
    height: 70vh;
    margin-bottom: 20px;
    border: none; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    text-align: left;
}

.monaco-editor {
    text-align: left !important;
}

.monaco-editor .margin,
.monaco-editor-background {
    background-color: var(--bg-colors) !important;
}
