<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-VSCode</title>
    <link rel="stylesheet" href="/css/home_page.css">
</head>
<body>
    <div class="container">
        <h1>Mini-VSCode</h1>
        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" accept=".txt,.js,.html,.css,.json">
            <button type="submit">Ouvrir</button>
        </form>
        <p>Ou</p>
        <a href="/edit">Créer un nouveau fichier</a>
    </div>
</body>
</html>